body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  font-family: "Work Sans", sans-serif;
  /* firefox 3.6+ */
  background: -moz-radial-gradient(
    circle at 27% 24%,
    rgba(44, 62, 80, 1) 0%,
    rgba(34, 49, 63, 1) 25%,
    rgba(23, 32, 42, 1) 50%,
    rgba(17, 24, 32, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  /* safari 5.1+, chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 27% 24%,
    rgba(44, 62, 80, 1) 0%,
    rgba(34, 49, 63, 1) 25%,
    rgba(23, 32, 42, 1) 50%,
    rgba(17, 24, 32, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 27% 24%,
    rgba(44, 62, 80, 1) 0%,
    rgba(34, 49, 63, 1) 25%,
    rgba(23, 32, 42, 1) 50%,
    rgba(17, 24, 32, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 27% 24%,
    rgba(44, 62, 80, 1) 0%,
    rgba(34, 49, 63, 1) 25%,
    rgba(23, 32, 42, 1) 50%,
    rgba(17, 24, 32, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 27% 24%,
    rgba(44, 62, 80, 1) 0%,
    rgba(34, 49, 63, 1) 25%,
    rgba(23, 32, 42, 1) 50%,
    rgba(17, 24, 32, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
.form-container {
  background: #fff;
  padding: 50px;
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 700px;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
  color: #333;
}
.form-control {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
}
.form-control:focus {
  border-color: #1950d1;
  box-shadow: 0 0 5px rgba(25, 80, 209, 0.5);
}
.btn-primary {
  background-color: #1950d1;
  font-size: 1.2rem;
  padding: 12px;
  transition: background-color 0.3s ease;
  width: 100%;
  border-radius: 10rem;
}
.btn-primary:hover {
  background-color: #062161;
}
